<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # If the requested file does not exist and ends without a file extension,
  # try appending .html internally
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^([a-zA-Z0-9_-]+)$ $1.html [L]
</IfModule>
